* {
    box-sizing: border-box;
    font-family: 'Nunito', 'sans-serif';
}

:root {
    --primaryColor: #0076de;
    --whiteColor: #fff;
    --blckColor: #333;
    --greyColor: #f6f8fa;
    --labelColor: #64b1f5;
    --yellowColor: #ffd723;
}


form {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 50px;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 6px;
}


.job-request-container label {
    font-size: 18px;
    font-weight: bold;
}


.job-request-container h5 {
    font-size: 18px;
}


/*this section is for the post request and Edit request buttons in the parent page*/


.PostRequest {
    margin-top: -650px;
    margin-left: 500px;
    border-radius: 30px;
    position: relative;
    max-width: 100%;
   display:none;
    width: 350px;
}

   
.closeRequestForm {
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    bottom: -1.5rem;
    margin-left: 330px;
    cursor:pointer;
}

.closeEditRequest {
    position: relative;
    height:22px;
    width: 22px;
    border-radius: 50%;
    bottom: -1.5rem;
    margin-left: 330px;
    cursor: pointer;
}
    .EditRequest {
    margin-top: -700px;
    margin-left: 550px;
    border-radius: 30px;
    position: relative;
    max-width: 100%;
    display: none;
    width: 350px;
}




/*end of post request button*/