* {
	box-sizing: border-box;
	font-family: 'Nunito', 'sans-serif';
}

:root {
	--primaryColor: #0076de;
	--whiteColor: #fff;
	--blckColor: #333;
	--greyColor: #f6f8fa;
	--labelColor: #64b1f5;
	--yellowColor: #ffd723;
}

input {
	background-color: #ffffff;
	border-color: #0076de;
	padding: 12px 15px;
	margin: 2px 0;
	width: 100%;
}

textarea {
	background-color: #ffffff;
	border-color: #0076de;
	padding: 12px 15px;
	rows: 5px;
	width: 100%;
}